
/* #banner{
  position: relative;
} */
#nav_bar{
  background-color: rgb(205,24,31);
  /* position:absolute 0px 0px; */
  /* text-align: right ; */
}
/* #banner img{
  width:100%;
} */
/* #Accueil{
  border:3px solid blue;
} */